<article (click)="onNavigate()" class="stay-preview">
    <section (click)="toggleIsLike($event)" [class]="styleClass"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
            role="presentation" focusable="false" class="heart-btn"
            style="display: block; fill: rgba(0, 0, 0, 0.5); height: 24px; width: 24px; stroke: rgb(255, 255, 255); stroke-width: 2; overflow: visible;">
            <path
                d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z">
            </path>
        </svg></section>
    <img-carousel [slides]="stay.imgUrls"></img-carousel>
    <section class="stay-contant">
        <p class="location">{{stay.loc.city}}, {{stay.loc.country}}
            <span class="rate">
                <i class="fa-solid fa-star"></i>
                {{stay.statReviews.Value}} ({{stay.reviews.length}})
            </span>
        </p>
        <main>
            <p class="stay-name">{{stay.name}}</p>
            <p class="date">Mar 11-15</p>
        </main>
        <p>{{stay.price}}$ night</p>
        <!-- <button (click)="remove.emit(stay._id)">x</button> -->
    </section>
</article>