@import "../../../assets/styles/setup/variables";

.details-reviews {
    border-bottom: 1px solid #dddddd;

    .reviews-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        color: $clr1;
    }


    .review-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: 93px;
        margin-bottom: 40px;

    }

    .btn-expand-reviews {
        background-color: #fff;
        border-radius: 8px;
        transition: box-shadow .2s ease, transform .1s ease;
        border: 1px solid #313131;
        padding: 13px 10px;
        color: #222;
        font-weight: 600;
        font-size: 1em;
        cursor: pointer;
        min-width: 190px;
        max-width: 190px;
        margin-bottom: 30px;

        &:hover {
            border-color: #000;
            background: #F7F7F7;
        }
    }

}