<div class="arrows">
        <article *ngIf="currIdx"  class="left-arrow" (click)="next($event)"><i
                        class="fa-solid fa-chevron-left"></i></article>
        <article class="right-arrow" *ngIf="currIdx+1 !== slides?.length" (click)="prev($event)"><i class="fa-solid fa-chevron-right"></i>
        </article>
</div>
<img [src]="slides[currIdx]" alt="">
<div class="img-nav">
        <article *ngFor="let slide of slides; index as idx" (click)="moveTo($event,idx)" [ngClass]="{selected:currIdx === idx}">
        </article>
</div>
<!-- <section class="slide" [ngStyle]="{'background-image': getCurrImgUrl()}"></section> -->