<div class='type-filter'>
    <h5>Type of place</h5>
    <div class='type-filter-inputs'>
        <div class='row'>
            <input type='checkbox' name='Entire home/apt' />
            <div class='col'>
                <p class='input-header'>Entire place</p>
                <p class='desc'>A place all to yourself</p>
            </div>
        </div>
        <div class='row'>
            <input type='checkbox' name='Private room' />
            <div class='col'>
                <p class='input-header'>Private room</p>
                <p class='desc'>our own room in a home or a hotel, plus some shared common spaces</p>
            </div>
        </div>
    </div>