<section class="tool-bar   ">

    <div class="tool-bar-list" #scroll>
        <div class="tool-bar-preview" *ngFor="let item of filters " (click)="onSetFilter(item.title)">
            <img src="{{item.url}}" alt="">
            {{item.title}}
        </div>
    </div>
    <div (click)="toggleIsShowFilter()" class="more-filters">
        <img src="https://res.cloudinary.com/yaronshapira-com/image/upload/v1676833536/Airbnb/temp_dc7cvq.svg" alt="">
        <p>filters </p>
    </div>

    <filter-modal (close)="toggleIsShowFilter()" *ngIf="isShowFilter"></filter-modal>
</section>