<div class="stay-info">
    <div *ngIf="stay.host.isSuperhost" class="card">
        <img src="https://air-bxb.onrender.com/assets/superhost.f21af840.svg" alt="" class="card-img">
        <div class="card-content">
            <h3 class="card-title">This host is a Superhost</h3>
            <p class="card-desc">Superhosts are experienced, highly rated hosts who are committed to
                providing great stays for guests.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://air-bxb.onrender.com/assets/location.8ba303fc.svg" alt="" class="card-img">
        <div class="card-content">
            <h3 class="card-title">Great location</h3>
            <p class="card-desc">95% of recent guests gave the check-in process a 5-star rating.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://air-bxb.onrender.com/assets/checkin.274cce63.svg" alt="" class="card-img">
        <div class="card-content">
            <h3 class="card-title">Great check-in experience
            </h3>
            <p class="card-desc">100% of recent guests gave the location a 5-star rating.

            </p>
        </div>
    </div>



</div>