<section [ngClass]="{'search-stay':true, 'show':isOpen}">
    <label class="search-where" (click)="toggleRegion()">
        <p class="header">Where</p>
        <input [placeholder]="selectedRegion" />
    </label>
    <div *ngIf="isRegionShown" class="region-modal">
        <h4>Search by region</h4>
        <div class="wrapper">
            <div class="regions">
                <div *ngFor="let region of regions; index as idx">
                    <img [src]="region.url" alt="" (click)="setSelectedRegion(region.title)">
                    <p>{{region.title}}</p>
                </div>
            </div>
        </div>
    </div>
    <label>
        <p class="header">Check in</p>
        <input placeholder="date" />
    </label>
    <label>
        <p class="header">Check out</p>
        <input placeholder="date" />
    </label>
    <label class="search-who">
        <div>
            <p class="header">Who</p>
            <input placeholder="Add guests">
        </div>
        <button class="search-btn">
            <i class="fa-solid  fa-magnifying-glass"></i>
            Search
        </button>
    </label>
</section>