<section *ngIf="stay" class="stay-details">
    <div class="stay-title">
        <h3> {{stay.name}}</h3>
        <p>{{stay.loc.address}}</p>

    </div>
    <div class="imgs-container">
        <img *ngFor="let imgUrl of stay.imgUrls " src="{{imgUrl}}" alt="stay-img">
    </div>

    <section class="details-content">
        <div class="main-content">
            <div class="host-details">
                <div class="host-info">
                    <h3 class="host-name">{{stay.roomType}} by {{stay.host.fullname}}</h3>
                    <p>bathrooms:{{stay.bathrooms}}•bedrooms:{{stay.bedrooms}}</p>
                </div>
                <img class="host-img" [src]="stay.host.pictureUrl" alt="">
            </div>
            <details-info [stay]="stay"></details-info>
            <div class="air-cover">
                <h3 class="title"><span>air</span>cover</h3>
                <p class="desc">Every booking includes free protection from Host cancellations, listing inaccuracies,
                    and other issues like trouble checking in.</p>
            </div>
            <div class="details-desc">{{stay.summary}}</div>
            <details-amenities [stay]="stay"></details-amenities>
        </div>
        <div class="sub-content">
            <details-reserve [stay]="stay"></details-reserve>
        </div>
    </section>
    <section class="reviews">
        <details-review-stat [stay]="stay"></details-review-stat>
        <details-reviews [stay]="stay"></details-reviews>
    </section>

    <section class="maps">
        <h3 class="maps-title">Where you'll be</h3>
        <google-map height="480px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
            <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                [options]="markerOptions"></map-marker>
        </google-map>
    </section>

</section>